<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8">
    <title>마훅 - 마후마후 트위터 웹훅</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- SEO -->
    <meta name="keyword" content="mafumafu, webhook, discord, 마후마후, 디스코드, 웹훅, tweet, 트윗">
    <meta name="description" content="마후 트윗을 디스코드에서 한국어로!">

    <!-- OpenGraph -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://mahook.bass9030.dev">
    <meta property="og:site_name" content="마훅 - 마후마후 트위터 웹훅">
    <meta property="og:title" content="마훅 - 마후마후 트위터 웹훅">
    <meta property="og:description" content="마후 트윗을 디스코드에서 한국어로!">

    <!-- Twitter -->
    <meta name="twitter:card" content="summary" /> 
    <meta name="twitter:title" content="마훅 - 마후마후 트위터 웹훅" /> 
    <meta name="twitter:description" content="마후 트윗을 디스코드에서 한국어로!" /> 

    <script src="https://kit.fontawesome.com/c29a40570f.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="icon" href="/favicon.ico">
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Noto+Sans+KR:wght@300;400&family=Noto+Serif+KR&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>
        * {
            font-family: 'Noto Sans KR', sans-serif;
            /* box-sizing: border-box; */
        }

        body {
            overflow-x: hidden;
        }

        /* ==========
        main page
        ============= */

        .main div button {
            margin-top: 10px;
            padding: 10px 15px;
            font-weight: bold;
        }

        .main > div > h4 {
            color: #cfcfcf;
            font-family: 'Noto Serif KR', sans-serif;
            font-weight: bold;
        }

        .main > div > h1 {
            font-family: 'Black Han Sans', sans-serif;
        }

        .main > div > * {
            margin: 10px 0;
        }

        .main > div {
            display: block;
            margin: 0 auto;
            text-align: center;
            color: white;
            background: rgba(0,0,0,0.7);
            padding: 10px 50px;
            border-radius: 50px;
            z-index: 1;
        }

        .main {
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-self: center;
            width: 100dvw;
            height: 100dvh;
            background: none;
            position: relative;
        }

        .main::before {
            background-image: url('/images/bg.png');
            background-repeat: no-repeat;
            background-position: 15% 50%;
            background-size:cover;
            width: 105dvw;
            height: 105dvh;
            filter: blur(8px);
            content: "";
            position: absolute;
            top: -2.5%;
            left: -2.5%;
            z-index: -1;
        }

        .noti {
            padding: 10px;
            background: rgb(197, 197, 197);
            font-size: 14px;
            text-align: center;
            color: #000000;
        }

        .noti > p {
            margin: 0;
            margin-bottom: 10px;
        }


        /* ==========
        webhook register popup
        ============= */
        .register {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            
            display: flex;            
            align-items: center;
            justify-content: center;

            background: rgba(0,0,0,0.7);

            z-index: 10;
        }

        .register .container {
            position: relative;
            background: white;
            border-radius: 20px;
            height: 300px;
            width: 500px;
            padding: 50px;
        }

        .title {
            position: relative;
            margin-bottom: 20px;
        }

        .title > * {
            margin: 0;
        }

        .title > h3 {
            font-size: 25px;
            display: inline-block;
        }

        .title > button {
            position: absolute;
            right: 0;
            top: -9px;

        }

        .title > button > i {
            font-size: 25px;
            vertical-align: middle;
        }

        .vhidden {
            opacity: 0;
        }

        .hidden {
            /* transform: scaleY(0); */
            display: none;
        }

        .buttons {
            position: absolute;
            bottom: 50px;
            right: 50px;
        }

        .buttons > button {
            margin-left: 10px;
        }

        .alert {
            transition: all 0.2s linear;
        }

        .alerts {
            position: fixed;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            z-index: 11;
            margin: 10px;
            z-index: 9;
        }

        .community {
            color: black;
            font-size: 20px;
            padding: 0px 2px;
        }
    </style>
  </head>
  <body>
    <div class="register hidden">
        <div class="container">
            <div class="title">
                <h3>디스코드 웹후크 구독</h3>
                <button onclick="closeRegister()" class="btn"><i class="fa-solid fa-xmark"></i></button>                
                <br>
                <a href="/howto" target="_blank">웹후크 생성방법</a>
            </div>
            <div action="javascript:void(0)" id="registerForm">
                <div class="input-group has-validation">
                    <input id="webhookURL" type="text" class="form-control is-invaild" placeholder="디스코드 웹후크 URL">
                    <div class="invalid-feedback">
                        올바른 웹후크 URL을 입력해주세요.
                    </div>
                </div>
                <div class="buttons">
                    <input type="button" onclick="unregisterWebhook()" class="btn btn-danger" value="구독취소"/>
                    <input type="button" onclick="registerWebhook()" class="btn btn-success" value="구독">
                </div>
            </div>
        </div>
    </div>
    <div class="alerts">
        <div id="success" class="alert alert-success hidden vhidden" role="alert">
            웹후크가 성공적으로 구독되었습니다
        </div>
        <div id="error" class="alert alert-danger hidden vhidden" role="alert">
            웹후크 구독 취소 실패: 등록된 웹후크가 없습니다
        </div>
    </div>    
    <div class="main">
        <div>
            <h1>마훅 - 마후 트윗 번역봇</h1>
            <h4>“마후 트윗을 디스코드에서 한글로 즐겨보시겠습니까?”</h4>
            <button onclick="showRegister()" class="btn btn-primary">디스코드로 알림 받아보기</button>
            <p>현재 <span id="server-count">0</span>개의 서버에서 한국어 마후 트윗을 즐기고 있습니다.</p>
        </div>
    </div>
    <div class="noti">
        <p>마훅은 DeepL 번역 API를 이용하여 제공됩니다.<br>
            DeepL 약관에 따라 <strong>DeepL로 번역된 트윗 본문의 정확성에 대해 어떠한 보증도 하지 않습니다.</strong>
        </p>
        <p>
            마훅은 <strong>X(구 Twitter)의 공식적인 API를 사용하여 개발되지 않았습니다.</strong><br>
            따라서 <strong>서비스에 예기치 못한 장애가 발생할 수 있으며, X(구 Twitter)사의 요청에 따라 서비스 운영이 종료될 수 있습니다.</strong>
        </p>
        <p>Contant: contact@bass9030.dev</p>
        <p>
            깃허브<br>
            <a class="community" href="https://github.com/bass9030/mafu-webhook" target="_blank"><i class="fa-brands fa-github"></i></a>
        </p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script>
        const WEBHOOK_REGEX = /https:\/\/discord(app)?.com\/api\/webhooks\/([^\/]+)\/([^\/]+)/;

        let registerElement = document.getElementsByClassName('register')[0];
        let formElement = document.getElementById('registerForm');
        let webhookInputElement = document.getElementById('webhookURL');
        let serverCountElement = document.getElementById('server-count');
        
        window.addEventListener('load', () => {
            fetch('/api/count').then(async res => {
                let data = await res.json();
                if(data.status == 0)
                    serverCountElement.innerText = data.data;
            })
        })

        function showAlert(alertElement) {
            alertElement.classList.remove('hidden');
            setTimeout(() => {
                alertElement.classList.remove('vhidden');
                setTimeout(() => {
                    alertElement.classList.add('vhidden');
                    setTimeout(() => alertElement.classList.remove('hidden'), 500);
                }, 2500)
            }, 10);
        }
        
        webhookInputElement.addEventListener('input', event => {
            let webhookURL = event.target.value;
            if(!!!webhookURL.match(WEBHOOK_REGEX))
                webhookInputElement.setCustomValidity('aw');
            else
                webhookInputElement.setCustomValidity('');
            
            formElement.classList.add('was-validated')
        })

        async function registerWebhook() {
            formElement.classList.add('was-validated')
            let webhookURL = webhookInputElement.value;
            if(!!!webhookURL.match(WEBHOOK_REGEX)) {
                webhookInputElement.setCustomValidity('aw');
                return;
            } else
                webhookInputElement.setCustomValidity('');
            
                        
            let response = await (await fetch('/api/register', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    'url': webhookURL
                })
            })).json();

            if(response.status == -1) {
                let alertElement = document.getElementById('error')
                alertElement.innerText = '웹후크 등록해 실패했습니다─올바른 웹후크 주소인지 확인해주세요.'
                showAlert(alertElement);
            }else if(response.status == -2) {
                let alertElement = document.getElementById('error')
                alertElement.innerText = '이미 등록된 웹후크입니다.'
                showAlert(alertElement);
            }else{
                let alertElement = document.getElementById('success')  
                alertElement.innerText = '웹후크 등록에 성공했습니다! 디스코드에서 확인해보세요.'
                showAlert(alertElement);
            }


            closeRegister()
        }

        async function unregisterWebhook() {
            formElement.classList.add('was-validated')
            let webhookURL = webhookInputElement.value;
            if(!!!webhookURL.match(/https:\/\/discord.com\/api\/webhooks\/([^\/]+)\/([^\/]+)/)) {
                webhookInputElement.setCustomValidity('aw');
                return;
            } else
                webhookInputElement.setCustomValidity('');

            let response = await (await fetch('/api/unregister', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    'url': webhookURL
                })
            })).json();

            if(response.status == -1) {
                let alertElement = document.getElementById('error')
                alertElement.innerText = '웹후크 구독 취소 실패─등록된 웹후크가 없습니다'
                showAlert(alertElement);
            }else{
                let alertElement = document.getElementById('success')  
                alertElement.innerText = '웹후크 구독 취소가 완료되었습니다'
                showAlert(alertElement);
            }
    
            closeRegister()
        }

        function showRegister() {
            registerElement.classList.remove('hidden');
        }

        function closeRegister() {
            registerElement.classList.add('hidden');
        }
    </script>
  </body>
</html>
