<!DOCTYPE html>
<html lang="ko">
    <head>
        <%- include('header') %>
        <style>
            * {
                font-family: "Noto Sans KR", sans-serif;
            }

            body {
                padding: 20px;
                background-color: #2e3035;
                color: white;
            }

            p {
                margin: 0;
            }
        </style>
    </head>
    <body>
        <h2>오픈소스 라이선스 / Open Source License</h2>
        <details>
            <summary>
                <code>@google/genai</code>
            </summary>
            <p>Version 0.13.0</p>
            <p>Apache-2.0</p>
            <p><a href="https://github.com/googleapis/js-genai/blob/main/LICENSE">https://github.com/google-gemini/deprecated-generative-ai-js/blob/main/LICENSE</a></a></p>
        </details>
        <details>
            <summary>
                <code>app-root-path</code>
            </summary>
            <p>Version 3.1.0</p>
            <p>MIT</p>
            <p><a href="https://github.com/inxilpro/node-app-root-path/blob/master/LICENSE">https://github.com/inxilpro/node-app-root-path/blob/master/LICENSE</a></p>
        </details>
        <details>
            <summary>
                <code>cookie-parser</code>
            </summary>
            <p>Version 1.4.7</p>
            <p>MIT</p>
            <p><a href="https://github.com/expressjs/cookie-parser/blob/master/LICENSE">https://github.com/expressjs/cookie-parser/blob/master/LICENSE</a></p>
        </details>
        <details>
            <summary>
                <code>debug</code>
            </summary>
            <p>Version 2.6.9</p>
            <p>MIT</p>
            <p><a href="https://github.com/debug-js/debug/blob/master/LICENSE">https://https://github.com/debug-js/debug/blob/master/LICENSE</a></p>
        </details>
        <details>
            <summary>
                <code>deepl-node</code>
            </summary>
            <p>Version 1.12.0</p>
            <p>MIT</p>
            <p><a href="https://github.com/DeepLcom/deepl-node/blob/main/LICENSE">https://github.com/DeepLcom/deepl-node/blob/main/LICENSE</a></p>
        </details>
        <details>
            <summary>
                <code>discord-webhook-node</code>
            </summary>
            <p>Version 1.1.8</p>
            <p>MIT</p>
            <p><a href="https://github.com/matthew1232/discord-webhook-node/blob/master/LICENSE">https://github.com/matthew1232/discord-webhook-node/blob/master/LICENSE</a></p>
        </details>
        <details>
            <summary>
                <code>dotenv</code>
            </summary>
            <p>Version 16.3.1</p>
            <p>BSD-2-Clause</p>
            <p><a href="https://github.com/motdotla/dotenv/blob/master/LICENSE">https://github.com/motdotla/dotenv/blob/master/LICENSE</a></p>
        </details>
        <details>
            <summary>
                <code>ejs</code>
            </summary>
            <p>Version 3.1.10</p>
            <p>Apache-2.0</p>
            <p><a href="https://github.com/mde/ejs/blob/main/LICENSE">https://github.com/mde/ejs/blob/main/LICENSE</a></p>
        </details>
        <details>
            <summary>
                <code>express</code>
            </summary>
            <p>Version 4.21.2</p>
            <p>MIT</p>
            <p><a href="https://github.com/expressjs/express/blob/master/LICENSE">https://github.com/expressjs/express/blob/master/LICENSE</a></p>
        </details>
        <details>
            <summary>
                <code>http-errors</code>
            </summary>
            <p>Version 1.6.3</p>
            <p>MIT</p>
            <p><a href="https://github.com/c9/node-http-error/blob/master/LICENSE">https://github.com/c9/node-http-error/blob/master/LICENSE</a></p>
        </details>
        <details>
            <summary>
                <code>mariadb</code>
            </summary>
            <p>Version 3.3.0</p>
            <p>LGPL-2.1</p>
            <p><a href="https://github.com/mariadb-corporation/mariadb-connector-nodejs/blob/master/LICENSE">https://github.com/mariadb-corporation/mariadb-connector-nodejs/blob/master/LICENSE</a>
        </details>
        <details>
            <summary>
                <code>morgan</code>
            </summary>
            <p>Versopm 1.9.1</p>
            <p>MIT</p>
            <p><a href="https://github.com/expressjs/morgan/blob/master/LICENSE">https://github.com/expressjs/morgan/blob/master/LICENSE</a></p>
        </details>
    </body>
</html>
