* {
    font-family: "Noto Sans KR", sans-serif;
}

body {
    background-color: #2e3035;
    color: white;
}

.hidden {
    display: none !important;
}

@media (max-width: 800px) {
    .introduce_box {
        flex-direction: column !important;
        justify-self: unset !important;
    }

    .text_area {
        font-size: 1.7em !important;
    }

    .introduce_img {
        width: 100dvw !important;
    }

    .embed-box {
        width: 70%;
    }

    .discord-embed {
        width: auto !important;
    }

    .introduce_text {
        width: 100vw !important;
        justify-content: center !important;
    }

    .introduce_text > div {
        margin: 0 !important;
    }
}

.alert {
    transition: all 0.2s linear;
    position: fixed;
    top: 20px;
    right: 20px;
    left: 20px;

    z-index: 9;
}

.alert-hidden {
    opacity: 0;
}

.introduce {
    overflow: hidden;
}

.introduce_box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #2e3035;
    height: 100dvh;
    width: 100dvw;
    color: white;
}

.introduce_text {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    float: right;
    flex: 4;
}

.introduce_text > div {
    margin-left: 50px;
}

.text_area {
    vertical-align: middle;
    margin-bottom: 10px;
    font-size: 2em;
}

#text_title,
#text_description1,
#text_description2 {
    word-break: keep-all;
}

.introduce_img {
    float: left;
    width: 50%;
    height: 100dvh;
    overflow-y: hidden;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 6;
}

.popup_dim {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100dvw;
    height: 100dvh;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 10;
}

.popup_box {
    position: relative;
    background: white;
    border-radius: 20px;
    min-width: 400px;
    max-width: 680px;
    width: 80dvw;
    padding: 50px;
}

.popup_box {
    color: black;
}

.popup_box > .title > a {
    margin: 0 5px 0 0;
}

.popup_box > .title > h3 {
    display: inline-block;
}

.popup_box > .title > .close {
    float: right;
}

.buttons {
    width: 100%;
}

#webhookURL {
    margin-top: 20px;
}

.btn.edit,
.btn.subscribe {
    float: right;
    margin: 0 2px;
}

.options {
    margin-top: 20px;
}

.options > div {
    margin-bottom: 20px;
}

.easteregg {
    position: absolute;
    bottom: 5px;
    right: 5px;
    color: #2e3035;
    text-decoration: line-through;
    font-size: 15px;
}

.footer {
    margin-top: 5px;
    margin-bottom: 10px;
    width: 100%;
    /* height: 20dvh; */
    padding: 10px;
    text-align: center;
}

.footer > p > a {
    color: white;
    text-decoration: none;
}

.profile {
    clip-path: circle(20px at 20px 20px);
}

.nickname {
    margin-left: 10px;
    vertical-align: top;
    font-size: 1.1em;
    font-weight: 400;
    font-family: sans-serif;
}

.embed-box {
    width: 80%;
}

.discord-embed {
    position: relative;
    margin-left: 50px;
    padding: 20px;
    background-color: #2b2d31;
    max-width: 700px;
    width: 100%;
    max-height: 80vh;
    border-left: 5px solid #1da0f2;
    border-radius: 5px;
    transition: opacity 0.25s ease-in-out, height 0.25s ease-in-out;
}

.discord-embed > a {
    text-decoration: none;
    color: #00a8fc;
}

.embed-content {
    max-height: 100vh;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: opacity 0.25s ease-in-out;
}

.embed-footer {
    position: absolute;
    bottom: 25px;
    font-size: 0.75rem;
}

.embed-footer > * {
    vertical-align: middle;
}

.embed-footer > img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.profile {
    width: 40px;
    height: 40px;
}

.notice {
    padding: 10px;
    max-width: 1250px;
    margin: 0 auto;
}

.notice-list {
    max-height: 500px;
    overflow-y: auto;
}
