<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="icon" href="/favicon.ico">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>마훅 - 디스코드 웹훅 추가방법</title>
    <style>
        body {
            margin-top: 50px;
            margin-bottom: 50px;
        }
        * {
            font-family: 'Noto Sans KR', sans-serif;
        }

        h2 {
            margin-top: 10px;
        }

        .server-tutorial {
            overflow-x: auto;
            width: 100%;
        }

        img {
            max-width: 100%;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>시작하기전 잠깐!</h1>
        <p>마훅은 <strong>본인의 서버에서</strong>만 자유롭게 추가할 수 있습니다.</p>
        <p>만약 본인 소유의 서버가 없다면 <a href="https://support.discord.com/hc/ko/articles/204849977-How-do-I-create-a-server" target="_blank">직접 서버를 만들어주세요.</a></p>
        <hr>
        <h2>STEP 1. </h2>
        <p>채널 편집으로 들어가주세요.</p>
        <img src="/images/step1.png">
        <h2>STEP 2. </h2>
        <p><strong>연동</strong>메뉴에서 <strong>웹후크 만들기</strong>를 클릭해주세요.</p>
        <img src="/images/step2.png">
        <h2>STEP 3. </h2>
        <p>생성된 웹후크를 펼쳐 <strong>웹후크 URL 복사</strong>를 클릭해주세요.</p>
        <p>* 프로필사진및 이름은 마훅에서 웹후크 등록시 자동으로 변경됩니다</p>
        <img src="/images/step3.png">
        <h2>STEP 4. </h2>
        <p>마훅에서 <strong>웹후크 등록 · 수정</strong>를 클릭한 다음 복사한 웹후크 URL를 붙여넣어주세요.</p>
        <p>이후 원하는 옵션을 선택해 설정해주세요.</p>
        <img src="/images/step4.png">
        <h2>STEP 5. </h2>
        <p>하단에 <strong>구독</strong>버튼을 눌러주세요.</p>
        <img src="/images/step5.png">
    </div>
</body>
</html>